.projectimgs{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
    display: flex;
    background-color: #131313;
    align-items: center;
   padding-top: 100px;
    cursor: pointer;
    


}

.projectimgs .wrapper{
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100% ;
    margin: 10px auto;
    
}

.projectimgs .wrapper::-webkit-scrollbar {
    background-color: #131313;
    width: 10px;

    
}

.projectimgs .wrapper::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 20px;
  
}

.cardproject img{
    object-fit: contain;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    box-shadow: 0px 3px 52px -26px rgba(237,230,237,1);
    padding: 10px;
    
   

}

.cardproject a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid #0c5cd7;
    padding: 10px;
}

.cardproject a:hover{
    background-color: #131313;
}

.cardproject h2{
    align-self: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: -3em;
}

.cardproject{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    border:2px solid #0c5cd7;
   min-height: 80%;
}

@media (max-width:450px){
    .cardproject img{
        height: 300px;
    }
}

.cardproject .desc{
    margin: 20px;
    
}



